@media (min-width: 430px) {
   #Footer {
      color: var(--color);
   }
   .footer-bar:hover {
      border-color: var(--primary);
      background-color: var(--back-hover);
      box-shadow: var(--shadow-hover);
   }
   .footer-bar-link:hover {
      color: var(--primary);
      transform: translateY(-3px);
   }

   .footer-copy a:hover {
      color: var(--color);
      text-decoration: underline;
   }
}

#Footer {
   display: flex;
   justify-content: center;
   padding-top: 100px;
   /* min-height: 90vh; */
}

.Footer {
   width: 100%;
   border-top: 1px solid var(--border);
   padding: 20px 20px 0px 20px;
}

.footer-grid {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   margin: 20px 50px 0 20px;
}

.footer-grid-1 {
   display: flex;
   flex-direction: column;
   margin: 10px 20px;
}

.footer-grid-2 {
   display: flex;
   flex-direction: column;
   margin: 10px 20px;
}

.footer-center {
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
}

.footer-bar {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 300px;
   height: 70px;
   margin: 35px 0 0px;
   border-radius: 15px;
   border: 1px solid var(--border);
   background-color: var(--back);
   box-shadow: var(--shadow);
   transition: 0.2s;
}

.footer-bar-link {
   font-size: 40px;
   margin: 5px 12px 0px 12px;
   transition: 0.2s;
   color: var(--color);
}

.footer-copy {
   margin: 15px 0 40px;
}

.footer-copy a {
   font-family: Roboto;
   font-size: 0.7rem;
   color: var(--copy);
   transition: 0.2s;
}

@media (max-width: 1000px) {

   #Footer {
      display: flex;
      justify-content: center;
      padding-top: 50px;
   }

   .Footer {
      width: 90%;
      border-top: 1px solid var(--border);
      padding: 10px 0 0 0;
   }

   .footer-bar {
      height: 70px;
      margin: 25px 0 0px;
   }

   .footer-copy {
      margin: 12px 0 35px;
   }

   .footer-copy a {
      font-size: 11.5px;
   }
}